<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "Add post", new_post_path %>
  </li>
</ul>
<div class="btn-group nav_item">
  <a href="#" class="btn btn-small dropdown-toggle" data-toggle="dropdown">Categories  
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, cat %></li>
      <% end %>
    </ul>
  </a>
</div>
